{% load staticfiles %}
{% for r in results %}
<tr>
  <td><a href="/admin/members/member/{{ r.chaos_number }}" target="chaos_{{ r.chaos_number }}">{{ r.chaos_number }}</a></td>
  <td>{{ r.first_name }} {{ r.last_name }}</td>
  <td>{{ r.get_address }}</td>
  <td>{{ r.address_country }}</td>
  <td>{{ r.get_balance_readable }}</td>
  <td>
      {% if r.is_active %}
      <a href="{% url 'api:member_inactivate' %}?chaos_number={{ r.chaos_number }}" target="_blank" title="Inactivate Member">
      {% else %}
      <a href="{% url 'api:member_reactivate' %}?chaos_number={{ r.chaos_number }}" target="_blank" title="Reactivate Member">
      {% endif %}
      {{ r.is_active }}
      </a>
  </td>
  <td>{{ r.erfa.short_name }}</td>
  <td>{{ r.get_emails_string }}</td>
  <td>
      <a href="{% url 'api:send_data_record' %}?chaos_number={{ r.chaos_number }}" target="_blank" title="Send Data Record Email">
          <img src="{% static 'icons/fam_silk/email_go.png' %}" />
      </a>
      <a href="{% url 'members:show_member_transaction_log' r.chaos_number %}" target="_blank" title="Show Transactions">
          <img src="{% static 'icons/fam_silk/money_euro.png' %}" />
      </a>
  </td>
</tr>
{% endfor %}
