<!DOCTYPE html>
<html lang="de">
    <head>
        {% load staticfiles %}
        {% include "head_defaults.html" %}
        <title>{{ h1 }}</title>
        <style>
            .btn-block+.btn-block {
                margin-top: 23px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1>{{ h1 }}</h1>
        </div>
        <form method="POST" class="post-form" enctype="multipart/form-data" >{% csrf_token %}
        <div class="row">
        <div class="col-xs-12">
            {{ form }}
        </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <button type="submit" class="save btn btn-primary">Save</button>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="col-md-10">
                <h2>Import log Warnings:</h2>
                <ul>
                {% for log in warnings %}
                  <li>{{ log }}</li>
                {% endfor %}
                </ul>
                <h2>Import logs:</h2>
                <ul>
                {% for log in logs %}
                  <li>{{ log }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </body>
</html>
