statistics.html{% load staticfiles %}
<html>
{% include "head_defaults.html" %}

<body>
  {% include 'navbar.html' %}

  <div id="mainContainer" class="container-fluid"  style="margin-top:60px">
    <form action="/members/select_erfa/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Show Erfa" />
</form>
  </div>
</body>
</html>
