statistics.html{% load staticfiles %}
<html>
{% include "head_defaults.html" %}

<body>
  {% include 'navbar.html' %}

  <div id="mainContainer" class="container-fluid"  style="margin-top:60px">
    Back to <a href="{% url 'members:select_erfa' %}">Erfa selection</a>
    <br/>
    <br/>
    <ul>
      {% for member in object_list %}
      <li><a href="{% url 'admin:members_member_change' member.pk %}?doppel=1" target="_blank">{{ member.chaos_number }} {{ member.get_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>
</html>
