{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Navigation Ein-/Ausblenden</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">AA</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="home" class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Payment/Billing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">-</a></li>
                        <li><a href="#">--</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">EXECUTE</li>
                        <li id="billing_cycle"><a href="#">execute billing cycle</a></li>
                        <li id="mail_create_delayed_payment"><a href="#">create delayed payment mails</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Export/Import<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'members:import_members' %}">Import Members</a></li>
                        <li><a href="{% url 'members:memberAddressUnknown' %}">Address unknown</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">CASHPOINT</li>
                        <li ><a href="{% url 'members:cashpoint_export' %}">Cashpoint Export</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Vereinstisch</li>
                        <li ><a href="{% url 'members:vereinstisch_export' %}">Vereinstisch Export</a></li>
                        <li ><a href="{% url 'members:vereinstisch_import' %}">Vereinstisch Import</a></li>

                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">ERFA ABGLEICH</li>
                        <li><a href="{% url 'members:erfaabgleich_export' %}">Erfa Abgleich Export</a></li>
                        <li><a href="{% url 'members:erfaabgleich_import' %}">Erfa Abgleich Import</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Statistics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="zip_analysis"><a href="#">ZIP analysis</a></li>
                        <li id="country_analysis"><a href="#">Country analysis</a></li>
                        <li id="monthly_statistics"><a href="{% url 'members:monthly_statistics' %}">Monthly statistics</a></li>
                    </ul>
                </li>


                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Banking<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="import_banking"><a href="{% url 'import_app:import_banking' %}">Import banking csv</a></li>
                        <li id="manage_transactions"><a href="{% url 'import_app:manage_transactions' %}">Manage imported transactions</a></li>
                        <li id="manage_transactions_failed"><a href="{% url 'import_app:manage_transactions_failed' %}">Manage failed transactions</a></li>
                        <li id="show_transaction_log"><a href="{% url 'members:show_transaction_log' %}">Show transaction logs</a></li>
                    </ul>
                </li>

                <li><a href="{% url 'members:import_members' %}">Import Members</a></li>
                <!--
                no emojis for linux, so sad
                <li id="search"><a href="{% url 'members:search_form' %}">🔍</a></li>
                -->
                <li id="search"><a title="search members" href="{% url 'members:search_form' %}"><img src="{% static 'icons/fam_silk/magnifier.png' %}" /></a></li>
                <!--li id="#4"><a href="#">-</a></li-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" onclick="getPendingMails();">Mails<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header" id="mailField"><a id="mailFieldAnchor" href="#">Mails in queue: -</a></li>
                        <li><a href="/admin/members/emailtomember/">Show Emails in Queue</a></li>
                        <li><a href="/api/mail_send_all">Send All Emails</a></li>
                        <li><a href="/api/get_erfa_statistics">Send Erfastatistik</a></li>
                    </ul>
                </li>
                <li id="credits"><a href="#">Credits</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
