{% load staticfiles %}
<html>
{% include "head_defaults.html" %}

<body>
  {% include 'navbar.html' %}

  <div id="mainContainer" class="container-fluid"  style="margin-top:60px">
    <textarea>
      {{ month }}<br />
      {{ statistics_type }}
    </textarea>
  </div>
  <form action="{% url 'api:get_erfa_statistics' %}" method="post">
    {% csrf_token %}
    <label for="interval">Interval: </label>
    <input id="interval" type="text" name="interval" value="total">
    <input type="submit" value="show"><input type="submit" name="createManagingMail" value="show & create mail">
  </form>
</body>
</html>
