{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Import Banking CSV</h1>

        {% if message %}
           <p class="alert alert-info">
               {{ uploadedFile }}<br>
               {{ message }}
           </p>
        {% endif %}
        {% if warnings %}
            {% for warn in warnings %}
                <p class="alert alert-warning">
                    {{ warn }}
                </p>
            {% endfor %}
        {% endif %}
        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'import_app:import_banking' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

        <button type="button" class="btn btn-primary pull-right" onclick="window.location='{% url 'import_app:manage_transactions' %}'" >Manage Transactions</button>




            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" {% if uploadedFile != '' %} disabled {% endif %}/></p>

            {% for err in errors %}
                {{ err }}<br>
            {% endfor %}

            {% for imp in imported %}
                {{ imp }}<br>
            {% endfor %}

        </form>
    </div>
{% endblock %}
